<%= link_to "Play Rock", "rock" %>
<br>
<%= link_to "Play Paper", "paper" %>
<br>
<%= link_to "Play Scissors", "scissors" %>
<h1>We played scissors!</h1>
<h1>They played <%=@random_move %>!</h1>
<h1><%=@result%>!</h1>

<%= link_to 'Rules', '/' %>
